*{
    padding: 0;
    margin: 0;
    /* background-color: aqua; */
}
.ml-auto {
    margin-left: auto;
  }
  .mr-1 {
    margin-right: 0.25rem;
  }
  /* ======================================================= */
.btn-hover :first-of-type{
  font-size: 20px !important;
}